<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deliverymy">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/delivermyiconround"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeliveryMy">
        <activity android:name=".activities.ScheduleActivity"></activity>
        <activity android:name=".activities.ViewProfileActivity" />
        <activity android:name=".activities.TermsAndCondition" />
        <activity android:name=".activities.InsurancePolicyActivity" />
        <activity android:name=".activities.FeedbackActivity" />
        <activity android:name=".activities.MessageActivity" />
        <activity android:name=".activities.InviteFriendsActivity" />
        <activity android:name=".activities.NotificationActivity" />
        <activity android:name=".activities.PromoCodeListActivity" />
        <activity android:name=".activities.LookingDriverActivity" />
        <activity android:name=".activities.DeliveryDetailActivity" />
        <activity android:name=".activities.PickUpDetailActivity" />
        <activity android:name=".activities.BikeRideActivity2" />
        <activity android:name=".activities.BikeRideActivity" />
        <activity android:name=".activities.TrackOrderActivity" />
        <activity android:name=".activities.RideActivity2" />
        <activity android:name=".activities.RideActivity" />
        <activity android:name=".activities.MapTestActivity" />
        <activity android:name=".activities.PromotionsActivity" />
        <activity android:name=".activities.OrderHistoryActivity" />
        <activity android:name=".activities.PaymentMethodActivity" />
        <activity android:name=".activities.AddCardScreen" />
        <activity android:name=".activities.BalanceActivity" />
        <activity android:name=".activities.MyWallet" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activities.OtpActivity" />
        <activity android:name=".activities.VerificationActivity" />
        <activity android:name=".activities.SignupActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.OptionActivity" />
        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleApiKey" />
    </application>

</manifest>